<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://cdn.metalab.csun.edu/metaphor/css/metaphor.css">
	<title>Admissions and Records</title>
</head>
<body>
	<!-- Nav Bar -->
  <nav class="primary-nav">
      <div class="container">
        <div class="primary-nav__mobile">
          <div class="primary-nav__btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="primary-nav__brand"><span class="sr-only">California State University, Northridge (CSUN)</span></div>
        </div>
        <ul class="primary-nav__links">
          <li><a class="primary-nav__link" href="#">Home</a></li>
          <li><a class="primary-nav__link" href="#">Applicants</a></li>
          <li><a class="primary-nav__link" href="#">Admitted Students</a></li>
          <li><a class="primary-nav__link" href="#">Registration Guide</a></li>
          <li><a class="primary-nav__link" href="#">Graduation</a></li>
          <li><a class="primary-nav__link" href="#">Forms</a></li>
          <li><a class="primary-nav__link" href="#">Calendars</a></li>
        </ul>
      </div>
    </nav>
    <!-- Banner -->
    <div class="container">
      <div class="row">
        <div class="banner col-sm-12">
          <div class="banner"></div>
        </div>
      </div>
    </div>
    <br>

    <!-- Contact, Admin, Explore -->
    <div class="container">
      <div class="row">
        <!-- Contact -->
        <div class="box col-sm-3">
          <h4 class="red"><strong>Contact</strong></h4>
          <h5>Undergraduate Degree Services
        Cal State Northridge</h5>
        <h5><u>Bayramian Hall Room 170</u></h5>
        <h5>18111 Nordhoff Street
        Northridge, CA 91330-8207</h5>
        <h5>Phone: (818) 677-3781</h5>
        <h5>Fax: (818) 677-3759</h5>
        <h5 class="line"><u>Email A&amp;R </u></h5>
        <h4 class="red"><strong>Summer Hours</strong></h4>
          <h5><strong>Effective 5/29/17-8/11/17:</strong></h5>
          <h5>Mondays* &amp; Thursdays:</h5>
          <h5 class="margin-top">10:00 am to 4:30 pm</h5>
          <h5>Tuesdays &amp; Wednesdays:*</h5>
          <h5 class="margin-top">10:00 am to 6:30 pm</h5>
          <h5>Fridays:</h5>
          <h5 class="margin-top">10:00 am to 4:00 pm</h5>
          <h5>*Open 8:30 am Mon, 6/19 &amp; 7/10; and Wed, 7/19.</h5>
          <h5>CAMPUS CLOSED:</h5>
          <h5 class="margin-top">Tuesday, July 4, Independence Day</h5>
        </div>

      <!-- Admins and Records -->
      <div class="col-sm-6">
        <h4 class="red text-center"><strong>Admissions and Records</strong></h4>
        <h5>The Office of Admissions and Records promotes student success through services that begin with the application to Cal State Northridge and culminate with graduation. WHEN YOU APPLY, we communicate admissions criteria, timelines and instructions; evaluate your course work, credit and test scores; and provide online tools for you to monitor and complete your application process. DURING YOUR STUDIES, we answer your questions, help you interpret university policies pertaining to enrollment, provide degree planning tools, maintain your student records, and verify enrollment and GPA. AS GRADUATION NEARS, we assist you with applying for the bachelor's degree and diploma, offer guidance to meet all degree requirements, and verify completion of those requirements. BEYOND GRADUATION, we maintain your permanent academic record.</h5> 
        
        <ul class="list">
          <li class="list__item"><a href="#">Admissions Calendar</a></li>
          <li class="list__item"><a href="#">How to Apply</a></li>
          <li class="list__item"><a href="#">You've Been Admitted</a></li>
          <li class="list__item"><a href="#">International Admissions</a></li>
          <li class="list__item"><a href="#">Veterans Affairs</a></li>
          <li class="list__item"><a href="#">Register for Classes</a></li>
          <li class="list__item"><a href="#">Your Records</a></li>
          <li class="list__item"><a href="#">Order Transcripts</a></li>
          <li class="list__item"><a href="#">Apply to Graduate</a></li>
        </ul>
      </div>

      <!-- Explore -->
      <div class="container">
        <div class="row">
        <!-- Side List -->
          <div class="col-sm-3">
            <h4 class="red"><strong>Explore</strong></h4>
            <ul class="list">
              <li class="list__item"><a href="#">Your Records</a></li>
              <li class="list__item"><a href="#">Enrollment Programs</a></li>
              <li class="list__item"><a href="#">Deans and Department Chairs</a></li>
              <li class="list__item"><a href="#">How to Guides</a></li>
              <li class="list__item"><a href="#">Degree Planning Tools</a></li>
              <li class="list__item"><a href="#">Important Links</a></li>
              <li class="list__item"><a href="#">News</a></li>
              <li class="list__item"><a href="#">Your Right to Know</a></li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- Accordion -->
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h3>A&amp;R Featured News</h3>
          <dl class="accordion">
            <dt class="accordion__header"> Spring 2017 Transcripts Available </dt>
            <dd class="accordion__content">
              <img class="float-left" src="http://www.csun.edu/sites/default/files/styles/square_thumbnail_small/public/default_images/thumb_slug2_default_news_image_1.jpg?itok=Jvq1Yk-q">
              <p>Official transcripts for the Spring 2017 semester are now available for ordering. <u>Read more</u></p>
            </dd>
            <dt class="accordion__header"> Try Registration Planner! </dt>
            <dd class="accordion__content">
              <img class="float-left" src="http://www.csun.edu/sites/default/files/styles/square_thumbnail_small/public/default_images/thumb_slug2_default_news_image_1.jpg?itok=Jvq1Yk-q">
              <p>Registration Planner is a mobile-friendly, web-based tool that lets you generate every possible schedule combination of your desired classes in a few seconds! Even better, you can choose a preferred schedule and send it directly to your enrollment shopping cart. <u>Read more</u></p>
            </dd>
            <dt class="accordion__header"> Looking for an A&amp;R Office? </dt>
            <dd class="accordion__content">
              <img class="float-left" src="http://www.csun.edu/sites/default/files/styles/square_thumbnail_small/public/default_images/thumb_slug2_default_news_image_1.jpg?itok=Jvq1Yk-q">
              <p>Some Admissions &amp; Records (A&amp;R) offices have moved not far from their previous locations. You can still conduct most business at the Bayramian Hall Student Services Center (BH 100, 1st-floor lobby). <u>Read more</u></p>
            </dd>
            <dt class="accordion__header"> Your CSUN Degree Plan</dt>
            <dd class="accordion__content">
              <img class="float-left" src="http://www.csun.edu/sites/default/files/styles/square_thumbnail_small/public/icon-mpg.png?itok=tZgo0PaH">
              <p>Did you know CSUN has an interactive tool to help you plan courses to complete your degree?  <u>Read more</u></p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  <script src="http://cdn.metalab.csun.edu/metaphor/js/metaphor.js"></script>
</body>
</html>