<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://cdn.metalab.csun.edu/metaphor/css/metaphor.css">
	<script src="http://cdn.metalab.csun.edu/metaphor/js/metaphor.js"></script>
	<title>Directory</title>
</head>
<body>
	<!-- Nav Bar -->
	<nav class="primary-nav">
  		<div class="container">
    		<div class="primary-nav__mobile">
      			<div class="primary-nav__btn">
        			<div class="bar"></div>
        			<div class="bar"></div>
        			<div class="bar"></div>
      			</div>
      			<div class="primary-nav__brand enlarge"><span class="sr-only">California State University, Northridge (CSUN)</span></div>
    		</div>
    	</div>
    </nav>
	<div class="container">
	  	<div class="row">
	  	 <!-- Side List -->
	    <div class="col-sm-3">
	    	<ul class="list">
	  			<li class="list__item"><a href="#">All Faculty and Staff</a></li>
	  			<li class="list__item"><a href="#">Divisions/Colleges/Depts</a></li>
	  			<li class="list__item"><a href="#">Deans and Department Chairs</a></li>
	  			<li class="list__item"><a href="#">Fax Numbers</a></li>
	  			<li class="list__item"><a href="#">Mail Codes</a></li>
	  			<li class="list__item"><a href="#">	V/TTY &amp; TTY Phones</a></li>
	  			<li class="list__item"><a href="#">Link to CSYou</a></li>
			</ul>	
	    </div>

	<!-- Space in between -->
	<div class="col-sm-1"></div>

	<!-- Directory -->
    <div class="col-sm-8">
    	<h1>Directory</h1> 
    	<form>
    		<label for="example1">Employee Search</label>
			<select name="example1" id="example1">
  				<option value="">Employee Search</option>
  				<option value="1">College Search</option>
  				<option value="2">Department Search</option>
  				<option value="3">Division Search</option>
  				<option value="5">Student Search</option>
			</select>
			<!-- Add Form Inputs Here -->
			<br>
  			<div class="form__group">
    			<label for="ex1">Use Keyword:</label>
    			<input type="text" id="ex1" name="ex1">
  			</div>
		</form>
		<br>
		<button role="button" class="btn btn-success">Search</button>
    </div>
  </div>
  <br>
  <h4>	
  * To search for students, you must be connected to the campus network</h4>
  <h4>* Searches are not case sensitive</h4>
  <h4>* Use the Return button not your browser's back/forward button</h4>
  <h4> Need Help? Contact the IT Help Center (818-677-1400)</h4>

</div>
</body>
</html>