<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://cdn.metalab.csun.edu/metaphor/css/metaphor.css">
	<title>University Degree Services</title>
</head>
<body>
	<nav class="primary-nav">
  		<div class="container">
    		<div class="primary-nav__mobile">
      			<div class="primary-nav__btn">
        			<div class="bar"></div>
        			<div class="bar"></div>
        			<div class="bar"></div>
      			</div>
      			<div class="primary-nav__brand"><span class="sr-only">California State University, Northridge (CSUN)</span></div>
    		</div>
    		<ul class="primary-nav__links">
      		<li><a class="primary-nav__link" href="http://www.csun.edu/admissions-records/uds#main-content" target="_blank">Skip to Content</a></li>
      		<li><a class="primary-nav__link" href="http://www.csun.edu/universaldesigncenter" target="_blank">Accessibility</a></li>
      		<li><a class="primary-nav__link" href="https://mynorthridge.csun.edu/psc/PANRPRD/EMPLOYEE/EMPL/c/NRPA_CSUN_APPS.NR_PEOPLESRCH_CMP.GBL" target="blank">Directory</a></li>
      		<li><a class="primary-nav__link" href="http://www.csun.edu/calendar" target="_blank">Calendar</a></li>
      		<li><a class="primary-nav__link" href="http://www.csun.edu/atoz/" target="_blank">A to Z</a></li>
      		<li><a class="primary-nav__link" href="http://www.csun.edu/it/webmail" target="_blank">Webmail</a></li>
    		</ul>
  		</div>
	</nav>
	<h1 class="margin-top">Undergraduate Degree Services</h1>
	<div class="container">
	  	<div class="row">
	  		<!-- Left -->
	    	<div class="col-sm-4">
	    		<a href="http://www.csun.edu/admissions-records/uds/apply-graduate" target="_blank">
	    			<img class="padding" src="http://www.csun.edu/sites/default/files/UDS-ImageLinks-ApplytoGraduate-272W.png">
	    		</a> 
	    	</div>
	    	<!-- Middle -->
	    	<div class="col-sm-4">
	    		<a href="http://www.csun.edu/admissions-records/uds/graduation-checklist" target="_blank">
	    			<img class="padding" src="http://www.csun.edu/sites/default/files/UDS-ImageLinks-StayonTrack-272W.png">
	    		</a>
	    	</div>
	    	<!-- Right -->
	    	<div class="col-sm-4">
	    		<a href="http://www.csun.edu/admissions-records/uds/degree-diploma" target="_blank">
	    			<img class="padding" src="http://www.csun.edu/sites/default/files/UDS-ImageLinks-DegreeDiploma-272W.png">
	    		</a>
	    	</div>
	    </div>
	</div>
	<br>
	<div class="container">
	    <div class="row">
	    	<!-- Contact / Summer Hours-->
	    	<div class="box col-sm-3">
	    		<h4 class="red"><strong>Contact</strong></h4>
	    		<h5>Undergraduate Degree Services
				Cal State Northridge</h5>
				<h5><u>Bayramian Hall Room 170</u></h5>
				<h5>18111 Nordhoff Street
				Northridge, CA 91330-8207</h5>
				<h5>Phone: (818) 677-3781</h5>
				<h5>Fax: (818) 677-3759</h5>
				<h5 class="line"><u>Email A&amp;R </u></h5>
				<h4 class="red"><strong>Summer Hours</strong></h4>
	    		<h5><strong>Effective 5/29/17-8/11/17:</strong></h5>
	    		<h5>Mondays* &amp; Thursdays:</h5>
	    		<h5 class="margin-top">10:00 am to 4:30 pm</h5>
	    		<h5>Tuesdays &amp; Wednesdays:*</h5>
	    		<h5 class="margin-top">10:00 am to 6:30 pm</h5>
	    		<h5>Fridays:</h5>
	    		<h5 class="margin-top">10:00 am to 4:00 pm</h5>
	    		<h5>*Open 8:30 am Mon, 6/19 &amp; 7/10; and Wed, 7/19.</h5>
	    		<h5>CAMPUS CLOSED:</h5>
	    		<h5 class="margin-top">Tuesday, July 4, Independence Day</h5>
			</div>
			<!-- Spacing -->
			<div class="col-sm-1">
			</div>
			<!-- Accordion -->
			<div class="col-sm-8">
				<dl class="accordion">
  					<dt class="accordion__header"> What we do </dt>
  					<dd class="accordion__content">
    					<p>Welcome to Undergraduate Degree Services. Our office is here to guide you through the final stage of your baccalaureate career at CSUN. When you have applied to graduate, we will review and evaluate your academic records, provide your graduation evaluation, offer guidance to ensure that you meet all degree requirements, and answer your diploma questions.</p>
  					</dd>
  					<dt class="accordion__header"> Graduation </dt>
  					<dd class="accordion__content">
    					<p> means that you have completed all of your degree requirements and have been awarded the degree – this process should not be confused with attending the Commencement ceremonies. The Commencement ceremonies are events at the end of each Spring to honor those who have already been awarded degrees in the preceding Fall term as well as those who have applied for graduation for the Spring or Summer terms.</p>
    					<ul>
    						<li>Graduation—meeting all degree requirements—is evaluated by Undergraduate Degree Services. Please review this website.</li>
    						<li>Commencement is coordinated by the Office of Student Involvement and Development. Learn more at www.csun.edu/commencement.</li>

    					</ul>
  					</dd>
  					<dt class="accordion__header"> Gradfest </dt>
  					<dd class="accordion__content">
    				<p>is held three months before the Commencement ceremonies. It's a "one-stop-shop" to prepare for your Commencement ceremony. At GradFest you’ll be able to:</p>
    				<ul>
    					<li>Receive information about your graduation ceremony</li>
    					<li>Pre-order your cap and gown</li>
    					<li>Learn how to reserve guest tickets</li>
    					<li>Take a FREE cap &amp; gown portrait (cap and gown will be provided for you)</li>
    					<li>Purchase graduation announcements and other grad-related items</li>
    					<li>Join the Alumni Association and Senior Class Gift Tradition.</li>
    				</ul>
    				<p>GradFest is held for only two days, so do attend. Read more at GradFest.</p>
  					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!-- CSUN Logo -->
			<div class="col-sm-3">
				<img class="resize-img" src="http://www.logodesignblog.net/logos/csun-logo.jpg">
				
			</div>
			<div class="col-sm-3 footer-font">
				<div><span>Undergraduate Degree Services</span></div>
				<div><span>© California State University, Northridge</span></div>
				<div><span>18111 Nordhoff Street, Northridge, CA 91330</span></div>
				<div><span>Phone: (818) 677-1200 / Contact Us</span></div>
			</div>
			<div class="col-sm-2 footer-font">
				<div><span>Emergency Information</span></div>
				<div><span>University Policies &amp; Procedures</span></div>
			</div>
			<div class="col-sm-2 footer-font">
				<div><span>Terms and Conditions for Use</span></div>
				<div><span>Privacy Policy</span></div>
				<div><span>Document Reader</span></div>
			</div>
			<div class="col-sm-2 footer-font">
				<div><span>California State University</span></div><div><span>University Disclosures</span></div>
				<div><span>Annual Safety Report</span></div>
			</div>
			<!-- Spacing -->
			<!-- <div class="col-sm-1"></div> -->
		</div>
	</div>   
	<script src="http://cdn.metalab.csun.edu/metaphor/js/metaphor.js"></script>
</body>
</html>